%button {
  background: none;
  border: 1px solid $black;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 20px 35px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  transition: all 0.4s ease;
  position: relative;
  letter-spacing: $default-ls;
  text-align: center;

  @include media($small) {
    width: 330px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: transparent;
    animation: colorCraze 2s linear 0s infinite;
    border-color: $black;
    color: $black;
  }
}

