// Custom Inputs
// -------------

.img-section--ui--buttons {
  label {
    margin-right: rem(18);
  }
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-label {
  @extend %button;

  &:hover {
    cursor: pointer;
  }

  i {
    margin-right: 20px;
  }
}

button {
  @extend %button;

  &.master-dl {
    // display: block;
    margin: 55px auto;
    text-align: center;
  }
}


// Range
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 250px; /* Specific width is required for Firefox. */
  transtion: all 0.2s ease;

  @include media($small) {
    width: 400px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  ::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
  }

  // Thumb Style
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include range-thumb();
  }

  &::-moz-range-thumb {  @include range-thumb(); }
  &::-ms-thumb { @include range-thumb(); }

  // Track Style
  &::-webkit-slider-runnable-track { @include range-track(); }
  &:focus::-webkit-slider-runnable-track { background: transparentize($black, 0.9); }
  &::-moz-range-track { @include range-track(); }
  &:-ms-track { @include range-track(); }

}


