// Page
// ----
// Page level styles

.color-shifter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

// Curtain
// -------
.curtain {
  background-color: $white;
  z-index: 9999;
}

.curtain--content {

}

// Content Wrapper
// ---------------
.main-content {
  text-align: center;

  @include media($small) {
    padding: 0 50px;
  }
}


// Master Image
// ------------
.master-image {
  overflow: hidden;
  width: 100%;
  padding-bottom: rem(54);
  border-bottom: 1px solid $black;
}

.master-image--image {

  img {
    width: auto;
    max-width: 100%;
    max-height: 600px;
    display: block;
    margin: 0 auto rem(35);
  }
}

// Sections
.type-section {
  padding: 50px 0;
  border-bottom: 1px solid $black;
  width: 100%;
}

// Checkbox Section
.type-select {
  padding: rem(30);
  border-bottom: 1px solid $black;

  p {
    margin-bottom: rem(30);
  }
}

.type-check {
  width: 200px;
}


// Cropit Images
// -------------
.img-section {
  margin-bottom: rem(100);
}

.error {
  width: 100%;
  padding: rem(30);
  background-color: #fc8383;
  color: $white;
  margin-bottom: rem(40);
}

.cropit-image-preview {
  overflow: hidden;
  margin: 0 auto rem(42);
  position: relative;
  background-color: rgba(232,232,232,0.5);

  &:hover {
    cursor: move;
  }
}

.img-section--ui {
  overflow: hidden;
  margin: 40px auto 80px;
}

.img-section--ui--range-slider {
  margin-bottom: 36px;
}

.img-section--title {
  margin-bottom: 28px;
  font-weight: 400;
  letter-spacing: $default-ls;
}

.img-section--image-wrapper {
  overflow: scroll;
  width: 100%;
  position: relative;

  .error-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      padding: 30px;
      font-weight: 600;
    }
  }
}

.error-thrown .error-message {
  display: block;
}

// Profiles
.img-twitter__profile {
  width: 400px;
  height: 400px;
}

.img-facebook__profile {
  width: 180px;
  height: 180px;
}

.img-google__profile {
  width: 250px;
  height: 250px;
}

.img-pinterest__profile {
  width: 165px;
  height: 165px;
}

.img-linkedin__profile {
  width: 400px;
  height: 400px;
}

.img-instagram__profile {
  width: 110px;
  height: 110px;
}

.img-tumblr__profile {
  width: 128px;
  height: 128px;
}


// Twitter
.img-twitter__header {
  width: 1500px;
  height: 500px;
}

.img-twitter__post {
  width: 1024px;
  height: 512px;
}



// Facebook
.img-facebook__cover-photo {
  width: 851px;
  height: 315px;
}

.img-facebook__shared {
  width: 1200px;
  height: 630px;
}

.img-facebook__shared-link {
  width: 1200px;
  height: 627px;
}

.img-facebook__highlighted {
  width: 1200px;
  height: 717px;
}


// Google
.img-google__cover {
  width: 1080px;
  height: 608px;
}

.img-google__shared {
  width: 497px;
  height: 373px;
}

.img-google__shared-link {
  width: 150px;
  height: 150px;
}


// Instagram
.img-instagram__square {
  width: 640px;
  height: 640px;
}


// Tumblr
.img-tumblr__dash {
  width: 570px;
  height: 750px;
}

// YouTube
.img-youtube__cover {
  width: 1546px;
  height: 423px;
}

.img-youtube__video {
  width: 1280px;
  height: 760px;
}


// Linked In
.img-linkedin__cover {
  width: 974px;
  height: 300px;
}

.img-linkedin__banner {
  width: 646px;
  height: 220px;
}

.img-linkedin__logo {
  width: 100px;
  height: 60px;
}

.img-linkedin__square-logo {
  width: 50px;
  height: 50px;
}



.canvas-image {
  display: none;
}

// Download all
.download-all {
  padding: rem(50) 0;
  background-color: transparentize($white, 0.8);
  margin: rem(50) auto;
  position: relative;

  .warning {
    display: none;
    text-transform: uppercase;
    letter-spacing: rem(3);
  }

  .note a, .warning a {
    color: $black;
    font-weight: 600;
  }

  // &.blocked {
  //   background-color: transparentize($brand-color, 0.8);

  //   .warning {
  //     display: block;
  //   }

  //   .master-dl {
  //     opacity: 0.2;
  //     pointer-events: none;
  //   }

  //   .note {
  //     display: none;
  //   }
  // }
}

.master-dl {
  background-color: rgb(219, 200, 226);
}